* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(35, 183, 183);
    text-align: center;
    color: white;
    padding: 5px;
}

main {
    text-align: center;
    margin: 20px;
}

main>* {
    padding: 10px;
}

button {
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.btn1 {
    background-color: green;
}

.btn2 {
    background-color: black;
}

.btn3 {
    background-color: red;
}